<div class="login-wrapper">
	<p>Login UI</p>
	<form action="/login" method="POST">
		<div class="">
			<input type="text" name="username" placeholder="Enter username"/>
		</div>
		<div class="">
			<input type="password" name="password" placeholder="Enter password"/>
		</div>
		<button type="submit">
			Validate
		</button>
	</form>
</div>